.my-list{
    background: #51e9c6;
    padding: 8px 26px;
    width: 1000px;
    font-size: 40px;
    border: 1px solid #51e9c6;
    background:  #51e9c6;
    box-shadow: 0 0 10px 2px #e2dfdf
}
ol{
    margin: 14px;
}
p{
    text-align: center;
}